USE [TNS_Toeic]
GO
/****** Object:  Table [dbo].[ContentOfTest]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentOfTest](
	[ContentKey] [uniqueidentifier] NOT NULL,
	[TestKey] [uniqueidentifier] NOT NULL,
	[ResultKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[Part] [int] NOT NULL,
	[Order] [float] NULL,
 CONSTRAINT [PK_ContentOfTest] PRIMARY KEY CLUSTERED 
(
	[ContentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationParticipants]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationParticipants](
	[ParticipantKey] [uniqueidentifier] NOT NULL,
	[ConversationKey] [uniqueidentifier] NOT NULL,
	[UserKey] [uniqueidentifier] NOT NULL,
	[UserType] [varchar](20) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[JoinedOn] [datetime] NOT NULL,
	[UnreadCount] [int] NOT NULL,
	[LastReadMessageKey] [uniqueidentifier] NULL,
	[IsBanned] [bit] NULL,
	[IsApproved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParticipantKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationKey] [uniqueidentifier] NOT NULL,
	[ConversationType] [varchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastMessageKey] [uniqueidentifier] NULL,
	[LastMessageTime] [datetime] NULL,
	[ConversationMode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[GroupAvatar] [nvarchar](500) NULL,
	[CreatorKey] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[IsAdminChannelForMemberKey] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Conversa__14A20099D577CB40] PRIMARY KEY CLUSTERED 
(
	[ConversationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationsWithAI]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationsWithAI](
	[ConversationAIID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[StartedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDU_Member]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_Member](
	[MemberKey] [uniqueidentifier] NOT NULL,
	[MemberID] [nvarchar](50) NULL,
	[MemberName] [nvarchar](50) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ToeicScoreExam] [int] NULL,
	[Gender] [int] NULL,
	[YearOld] [int] NULL,
	[Activate] [bit] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[LastLoginDate] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[DepartmentKey] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[PracticeScore_Part1] [int] NULL,
	[PracticeScore_Part2] [int] NULL,
	[PracticeScore_Part3] [int] NULL,
	[PracticeScore_Part4] [int] NULL,
	[PracticeScore_Part5] [int] NULL,
	[PracticeScore_Part6] [int] NULL,
	[PracticeScore_Part7] [int] NULL,
	[ScoreTarget] [int] NULL,
	[IrtAbility] [float] NULL,
	[IrtUpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_EDU_Student] PRIMARY KEY CLUSTERED 
(
	[MemberKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorTypes]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorTypes](
	[ErrorTypeID] [uniqueidentifier] NOT NULL,
	[ErrorDescription] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ErrorTypes] PRIMARY KEY CLUSTERED 
(
	[ErrorTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlaggedQuestions]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlaggedQuestions](
	[FlagKey] [uniqueidentifier] NOT NULL,
	[ResultKey] [uniqueidentifier] NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[IsFlagged] [bit] NULL,
	[CreateOn] [datetime] NULL,
	[UpdateOn] [datetime] NULL,
 CONSTRAINT [PK_FlaggedQuestions] PRIMARY KEY CLUSTERED 
(
	[FlagKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrammarTopics]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrammarTopics](
	[GrammarTopicID] [uniqueidentifier] NOT NULL,
	[TopicName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GrammarTopics] PRIMARY KEY CLUSTERED 
(
	[GrammarTopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRM_Department]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_Department](
	[DepartmentKey] [uniqueidentifier] NOT NULL,
	[DepartmentID] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](200) NULL,
	[ShortName] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[TRCD] [varchar](10) NULL,
	[ParentKey] [uniqueidentifier] NULL,
	[OriganizationID] [char](10) NULL,
	[OriganizationPath] [nvarchar](100) NULL,
	[Rank] [int] NULL,
	[Class] [nchar](50) NULL,
	[ForReport] [nchar](10) NULL,
 CONSTRAINT [PK_HRM_Branchs] PRIMARY KEY CLUSTERED 
(
	[DepartmentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRM_Employee]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_Employee](
	[EmployeeKey] [uniqueidentifier] NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[LastName] [nvarchar](150) NULL,
	[FirstName] [nvarchar](50) NULL,
	[CadresID] [nvarchar](50) NULL,
	[NickName] [nvarchar](250) NULL,
	[ReportToKey] [uniqueidentifier] NULL,
	[ReportToName] [nvarchar](50) NULL,
	[DepartmentKey] [uniqueidentifier] NULL,
	[OrganizationPath] [nvarchar](150) NULL,
	[DepartmentName] [nvarchar](150) NULL,
	[BranchKey] [uniqueidentifier] NULL,
	[BranchName] [nvarchar](150) NULL,
	[JobKey] [uniqueidentifier] NULL,
	[JobName] [nvarchar](150) NULL,
	[PositionKey] [int] NULL,
	[PositionName] [nvarchar](150) NULL,
	[WorkingStatusKey] [int] NULL,
	[WorkingStatusName] [nvarchar](150) NULL,
	[StartingDate] [date] NULL,
	[LeavingDate] [date] NULL,
	[ContractTypeKey] [int] NULL,
	[ContractTypeName] [nvarchar](150) NULL,
	[WorkingAddress] [nvarchar](250) NULL,
	[WorkingLocation] [nvarchar](250) NULL,
	[CompanyPhone] [nvarchar](50) NULL,
	[CompanyEmail] [nvarchar](50) NULL,
	[Gender] [int] NULL,
	[Birthday] [datetime] NULL,
	[BirthPlace] [nvarchar](50) NULL,
	[MaritalStatusKey] [int] NULL,
	[MaritalStatusName] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[Ethnicity] [nvarchar](50) NULL,
	[PassportNumber] [nvarchar](50) NULL,
	[IssueDate] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
	[IssuePlace] [nvarchar](100) NULL,
	[PermanentAddress] [nvarchar](120) NULL,
	[TemporaryAddress] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](150) NULL,
	[MobiPhone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[TaxNumber] [nvarchar](100) NULL,
	[BankAccount] [nvarchar](50) NULL,
	[BankName] [nvarchar](50) NULL,
	[Photo] [image] NULL,
	[Photo_Small] [image] NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[Note] [ntext] NULL,
	[RecordStatus] [int] NULL,
	[Style] [nchar](2) NULL,
	[Class] [nchar](2) NULL,
	[CodeLine] [nchar](2) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](50) NULL,
 CONSTRAINT [PK_HRM_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageAttachments]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageAttachments](
	[AttachmentKey] [uniqueidentifier] NOT NULL,
	[MessageKey] [uniqueidentifier] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[FileSize] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[MimeType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageKey] [uniqueidentifier] NOT NULL,
	[ConversationKey] [uniqueidentifier] NULL,
	[SenderKey] [uniqueidentifier] NULL,
	[SenderType] [varchar](20) NULL,
	[ReceiverKey] [uniqueidentifier] NULL,
	[ReceiverType] [varchar](20) NULL,
	[MessageType] [varchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ParentMessageKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Status] [int] NULL,
	[IsPinned] [bit] NULL,
	[IsSystemMessage] [bit] NULL,
 CONSTRAINT [PK__Messages__E03734E067790C98] PRIMARY KEY CLUSTERED 
(
	[MessageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageWithAI]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageWithAI](
	[MessageAIID] [uniqueidentifier] NOT NULL,
	[ConversationAIID] [uniqueidentifier] NOT NULL,
	[SenderRole] [nvarchar](10) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationKey] [uniqueidentifier] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[RelatedKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[TargetKey] [uniqueidentifier] NULL,
	[TargetType] [varchar](20) NULL,
	[IsRead] [bit] NOT NULL,
	[Project] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionFeedbacks]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionFeedbacks](
	[FeedbackKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[Parent] [uniqueidentifier] NULL,
	[MemberKey] [uniqueidentifier] NULL,
	[FeedbackText] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[Part] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Question__6A4BEDF6AFC8D340] PRIMARY KEY CLUSTERED 
(
	[FeedbackKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultOfUserForTest]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultOfUserForTest](
	[ResultKey] [uniqueidentifier] NOT NULL,
	[TestKey] [uniqueidentifier] NOT NULL,
	[MemberKey] [uniqueidentifier] NOT NULL,
	[MemberName] [nvarchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[ListeningScore] [int] NULL,
	[ReadingScore] [int] NULL,
	[TestScore] [int] NULL,
	[Status] [int] NULL,
	[LastActive] [datetime] NULL,
	[Time] [int] NULL,
 CONSTRAINT [PK_ResultOfUserForTest] PRIMARY KEY CLUSTERED 
(
	[ResultKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillLevelDistribution]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillLevelDistribution](
	[DistributionKey] [uniqueidentifier] NOT NULL,
	[Part] [int] NULL,
	[SkillLevel1] [int] NULL,
	[SkillLevel2] [int] NULL,
	[SkillLevel3] [int] NULL,
	[SkillLevel4] [int] NULL,
	[SkillLevel5] [int] NULL,
 CONSTRAINT [PK_SkillLevelDistribution] PRIMARY KEY CLUSTERED 
(
	[DistributionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Roles]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Roles](
	[RoleKey] [uniqueidentifier] NOT NULL,
	[RoleID] [nvarchar](50) NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_SYS_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Users]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Users](
	[UserKey] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](300) NULL,
	[Description] [ntext] NULL,
	[Activate] [bit] NULL,
	[ExpireDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[EmployeeKey] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[RecordStatus] [int] NULL,
 CONSTRAINT [PK_SYS_Users] PRIMARY KEY CLUSTERED 
(
	[UserKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_Users_Roles]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Users_Roles](
	[UserKey] [uniqueidentifier] NOT NULL,
	[RoleKey] [uniqueidentifier] NOT NULL,
	[RoleRead] [bit] NOT NULL,
	[RoleEdit] [bit] NOT NULL,
	[RoleAdd] [bit] NOT NULL,
	[RoleDel] [bit] NOT NULL,
	[RoleApproval] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[UserKey] ASC,
	[RoleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Category]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Category](
	[CategoryKey] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](350) NULL,
 CONSTRAINT [PK_TEC_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part1_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part1_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part5_Answer_1] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part1_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part1_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](max) NULL,
	[QuestionVoice] [nvarchar](max) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part5_Question_1] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part2_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part2_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part2_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part2_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part2_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part2_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part3_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part3_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part3_Answer_1] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part3_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part3_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[Ranking] [int] NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part3_Question_1] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part4_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part4_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part4_Answer_1] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part4_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part4_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part4_Question_1] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part5_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part5_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TOEIC_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part5_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part5_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TOEIC_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part6_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part6_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part6_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part6_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part6_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Ranking] [int] NULL,
	[Publish] [bit] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part6_Question_1] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part7_Answer]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part7_Answer](
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [nvarchar](100) NULL,
	[AnswerVoice] [nvarchar](100) NULL,
	[AnswerCorrect] [bit] NULL,
	[Study] [nvarchar](max) NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEC_Part7_Answer_1] PRIMARY KEY CLUSTERED 
(
	[AnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEC_Part7_Question]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEC_Part7_Question](
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionImage] [nvarchar](100) NULL,
	[QuestionVoice] [nvarchar](100) NULL,
	[SkillLevel] [int] NULL,
	[AmountAccess] [int] NULL,
	[StudyText] [ntext] NULL,
	[StudyImage] [nvarchar](50) NULL,
	[StudyVideo] [nvarchar](50) NULL,
	[Parent] [uniqueidentifier] NULL,
	[Publish] [bit] NULL,
	[Ranking] [int] NULL,
	[RecordStatus] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](250) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](250) NULL,
	[Category] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[FeedbackCount] [int] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[Explanation] [nvarchar](max) NULL,
	[CorrectRate] [float] NULL,
	[IrtDifficulty] [float] NULL,
	[IrtDiscrimination] [float] NULL,
	[IrtGuessing] [float] NULL,
	[Quality] [nvarchar](50) NULL,
	[ConfidenceLevel] [nvarchar](20) NULL,
	[LastAnalyzed] [datetime] NULL,
	[Anomaly] [int] NULL,
 CONSTRAINT [PK_TEC_Part7_Question_1] PRIMARY KEY CLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TestKey] [uniqueidentifier] NOT NULL,
	[TestName] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[TotalQuestion] [int] NULL,
	[Duration] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedName] [nvarchar](50) NULL,
	[IsRandom] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[TestKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOEICConfiguration]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOEICConfiguration](
	[ConfigKey] [uniqueidentifier] NOT NULL,
	[NumberOfPart1] [int] NULL,
	[NumberOfPart2] [int] NULL,
	[NumberOfPart3] [int] NULL,
	[NumberOfPart4] [int] NULL,
	[NumberOfPart5] [int] NULL,
	[NumberOfPart6] [int] NULL,
	[NumberOfPart7] [int] NULL,
	[Duration] [int] NULL,
 CONSTRAINT [PK_TOEICConfiguration] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswers]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswers](
	[UAnswerKey] [uniqueidentifier] NOT NULL,
	[ResultKey] [uniqueidentifier] NOT NULL,
	[QuestionKey] [uniqueidentifier] NOT NULL,
	[SelectAnswerKey] [uniqueidentifier] NULL,
	[IsCorrect] [bit] NOT NULL,
	[TimeSpent] [int] NOT NULL,
	[AnswerTime] [datetime] NOT NULL,
	[NumberOfAnswerChanges] [int] NOT NULL,
	[Part] [int] NOT NULL,
	[RecordStatus] [int] NULL,
 CONSTRAINT [PK_UserAnswers] PRIMARY KEY CLUSTERED 
(
	[UAnswerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersError]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersError](
	[ErrorKey] [uniqueidentifier] NOT NULL,
	[AnswerKey] [uniqueidentifier] NOT NULL,
	[UserKey] [uniqueidentifier] NOT NULL,
	[ResultKey] [uniqueidentifier] NOT NULL,
	[ErrorType] [uniqueidentifier] NULL,
	[GrammarTopic] [uniqueidentifier] NULL,
	[VocabularyTopic] [uniqueidentifier] NULL,
	[CategoryTopic] [uniqueidentifier] NULL,
	[ErrorDate] [datetime] NULL,
	[Part] [int] NULL,
	[SkillLevel] [int] NULL,
 CONSTRAINT [PK_UsersError] PRIMARY KEY CLUSTERED 
(
	[ErrorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VocabularyTopics]    Script Date: 11/2/2025 9:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VocabularyTopics](
	[VocabularyTopicID] [uniqueidentifier] NOT NULL,
	[TopicName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VocabularyTopics] PRIMARY KEY CLUSTERED 
(
	[VocabularyTopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF__Conversat__Conve__4CC05EF3]  DEFAULT (newid()) FOR [ConversationKey]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF__Conversat__Conve__4DB4832C]  DEFAULT ('Private') FOR [ConversationType]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF__Conversat__Creat__4EA8A765]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[EDU_Member] ADD  CONSTRAINT [DF_EDU_Member_MemberKey]  DEFAULT (newid()) FOR [MemberKey]
GO
ALTER TABLE [dbo].[EDU_Member] ADD  CONSTRAINT [DF_EDU_Member_FailedPasswordAttemptCount]  DEFAULT ((0)) FOR [FailedPasswordAttemptCount]
GO
ALTER TABLE [dbo].[EDU_Member] ADD  CONSTRAINT [DF_EDU_Student_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ErrorTypes] ADD  CONSTRAINT [DF_ErrorTypes_ErrorTypeID]  DEFAULT (newid()) FOR [ErrorTypeID]
GO
ALTER TABLE [dbo].[GrammarTopics] ADD  CONSTRAINT [DF_GrammarTopics_GrammarTopicID]  DEFAULT (newid()) FOR [GrammarTopicID]
GO
ALTER TABLE [dbo].[HRM_Department] ADD  CONSTRAINT [DF_HRM_Branchs_BranchKey]  DEFAULT (newid()) FOR [DepartmentKey]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_EmployeeKey]  DEFAULT (newid()) FOR [EmployeeKey]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_PositionKey]  DEFAULT ((0)) FOR [PositionKey]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_ContractTypeKey]  DEFAULT ((0)) FOR [ContractTypeKey]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_MaritalStatusKey]  DEFAULT ((0)) FOR [MaritalStatusKey]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_PhotoPath]  DEFAULT (N'/images/users/avatar-0.jpg') FOR [PhotoPath]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRM_Employee] ADD  CONSTRAINT [DF_HRM_Employee_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[MessageAttachments] ADD  DEFAULT (newid()) FOR [AttachmentKey]
GO
ALTER TABLE [dbo].[MessageAttachments] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SYS_Roles] ADD  CONSTRAINT [DF_SYS_Roles_RoleKey]  DEFAULT (newid()) FOR [RoleKey]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_UserKey]  DEFAULT (newid()) FOR [UserKey]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_Activate]  DEFAULT ((1)) FOR [Activate]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_LastLoginDate]  DEFAULT (getdate()) FOR [LastLoginDate]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_FailedPasswordAttemptCount]  DEFAULT ((0)) FOR [FailedPasswordAttemptCount]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_CreatedDateTime]  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_ModifiedDateTime]  DEFAULT (getdate()) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SYS_Users] ADD  CONSTRAINT [DF_SYS_Users_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[SYS_Users_Roles] ADD  CONSTRAINT [DF_SYS_Users_Roles_RoleApproval]  DEFAULT ((0)) FOR [RoleApproval]
GO
ALTER TABLE [dbo].[TEC_Category] ADD  CONSTRAINT [DF_TEC_Category_CategoryKey]  DEFAULT (newid()) FOR [CategoryKey]
GO
ALTER TABLE [dbo].[TEC_Part1_Answer] ADD  CONSTRAINT [DF_TEC_Part5_Answer_AnswerKey_1]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part1_Answer] ADD  CONSTRAINT [DF_TEC_Part5_Answer_Ranking_1]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part1_Answer] ADD  CONSTRAINT [DF_TEC_Part5_Answer_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part1_Answer] ADD  CONSTRAINT [DF_TEC_Part5_Answer_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part1_Answer] ADD  CONSTRAINT [DF_TEC_Part5_Answer_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_QuestionKey_1]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_SkillLevel_1]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_AmountAccess_1]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_Publish_1]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part1_Question] ADD  CONSTRAINT [DF_TEC_Part5_Question_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part2_Answer] ADD  CONSTRAINT [DF_TEC_Part2_Answer_AnswerKey_1]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part2_Answer] ADD  CONSTRAINT [DF_TEC_Part2_Answer_Ranking_1]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part2_Answer] ADD  CONSTRAINT [DF_TEC_Part2_Answer_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part2_Answer] ADD  CONSTRAINT [DF_TEC_Part2_Answer_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part2_Answer] ADD  CONSTRAINT [DF_TEC_Part2_Answer_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_QuestionKey]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_SkillLevel]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_AmountAccess]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_Publish]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part2_Question] ADD  CONSTRAINT [DF_TEC_Part2_Question_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part3_Answer] ADD  CONSTRAINT [DF_TEC_Part3_Answer_AnswerKey_1]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part3_Answer] ADD  CONSTRAINT [DF_TEC_Part3_Answer_Ranking_1]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part3_Answer] ADD  CONSTRAINT [DF_TEC_Part3_Answer_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part3_Answer] ADD  CONSTRAINT [DF_TEC_Part3_Answer_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part3_Answer] ADD  CONSTRAINT [DF_TEC_Part3_Answer_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_QuestionKey_1]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_SkillLevel_1]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_AmountAccess_1]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_Publish_1]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part3_Question] ADD  CONSTRAINT [DF_TEC_Part3_Question_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part4_Answer] ADD  CONSTRAINT [DF_TEC_Part4_Answer_AnswerKey_1]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part4_Answer] ADD  CONSTRAINT [DF_TEC_Part4_Answer_Ranking_1]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part4_Answer] ADD  CONSTRAINT [DF_TEC_Part4_Answer_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part4_Answer] ADD  CONSTRAINT [DF_TEC_Part4_Answer_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part4_Answer] ADD  CONSTRAINT [DF_TEC_Part4_Answer_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_QuestionKey_1]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_SkillLevel_1]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_AmountAccess_1]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_Publish_1]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part4_Question] ADD  CONSTRAINT [DF_TEC_Part4_Question_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part5_Answer] ADD  CONSTRAINT [DF_TOEIC_Answer_AnswerKey]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part5_Answer] ADD  CONSTRAINT [DF_TOEIC_Answer_Publish]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part5_Answer] ADD  CONSTRAINT [DF_TOEIC_Answer_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part5_Answer] ADD  CONSTRAINT [DF_TOEIC_Answer_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part5_Answer] ADD  CONSTRAINT [DF_TOEIC_Answer_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TOEIC_Question_QuestionKey]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TEC_Question_SkillLevel]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TEC_Question_AmountAccess]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TOEIC_Question_Publish]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TOEIC_Question_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TOEIC_Question_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part5_Question] ADD  CONSTRAINT [DF_TOEIC_Question_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part6_Answer] ADD  CONSTRAINT [DF_TEC_Part6_Answer_AnswerKey]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part6_Answer] ADD  CONSTRAINT [DF_TEC_Part6_Answer_Ranking]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part6_Answer] ADD  CONSTRAINT [DF_TEC_Part6_Answer_RecordStatus]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part6_Answer] ADD  CONSTRAINT [DF_TEC_Part6_Answer_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part6_Answer] ADD  CONSTRAINT [DF_TEC_Part6_Answer_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_QuestionKey_1]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_SkillLevel_1]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_AmountAccess_1]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_Publish_1]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part6_Question] ADD  CONSTRAINT [DF_TEC_Part6_Question_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part7_Answer] ADD  CONSTRAINT [DF_TEC_Part7_Answer_AnswerKey_1]  DEFAULT (newid()) FOR [AnswerKey]
GO
ALTER TABLE [dbo].[TEC_Part7_Answer] ADD  CONSTRAINT [DF_TEC_Part7_Answer_Ranking_1]  DEFAULT ((0)) FOR [Ranking]
GO
ALTER TABLE [dbo].[TEC_Part7_Answer] ADD  CONSTRAINT [DF_TEC_Part7_Answer_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part7_Answer] ADD  CONSTRAINT [DF_TEC_Part7_Answer_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part7_Answer] ADD  CONSTRAINT [DF_TEC_Part7_Answer_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_QuestionKey_1]  DEFAULT (newid()) FOR [QuestionKey]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_SkillLevel_1]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_AmountAccess_1]  DEFAULT ((0)) FOR [AmountAccess]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_Publish_1]  DEFAULT ((0)) FOR [Publish]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_RecordStatus_1]  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_CreatedOn_1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TEC_Part7_Question] ADD  CONSTRAINT [DF_TEC_Part7_Question_ModifiedOn_1]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[VocabularyTopics] ADD  CONSTRAINT [DF_VocabularyTopic_VocabularyTopicID]  DEFAULT (newid()) FOR [VocabularyTopicID]
GO
