@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <script src="~/lib/chart.js/chartjs.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
</div>
<script>

    $(window).resize(function () {
        // DesignLayoutIndex();
    });

</script>
